.home{
    height:100vh;
    background-image: url(../../images/ride.svg); 
    /* background-image: url(../../images/bg-rocket.png);  */
    background-size: 50vh;
    background-position: top-right;
    background-repeat: no-repeat;
}

.homeParent{
    background:linear-gradient(#cfe5f5,#0072ca)

}